.box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 12px 0 ;
}

.alert {
    width: 500px;
    max-width: 80%;
    background: #bb810d;
    border-radius: 5px;
    color: #f3f3f3;
    padding: 10px 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.alert> p > a.link, 
.alert > p > span {
    color: #161923 !important;
}

.alert > span {
    font-weight: 700;
    display: block;
    font-size: 25px;
}